.comment {
  padding: 1em 0;
}

.comment .comment-heading {
  display: flex;
  justify-content: space-between;
}

.comment .comment-author {
 font-weight: bold;
}

.comment .comment-created-at {
  font-style: italic;
}

.comment .comment-reply-active {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
