.article-item {
  padding: 1em;
  display: flex;
}

.article-item .article-item-img {
  margin-right: 1em;
  width: 40%;
}

.article-item .article-item-img img {
  width: 100%;
}

.article-item .article-item-content {
  width: 60%;
  max-height: 30vh;
}

.article-item .article-item-content .article-item-title {
  font-weight: bold;
}

.article-item .article-item-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.article-item .article-item-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.article-item .article-item-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.article-item .article-item-comments {
  color: blue;
  text-decoration: underline;
}

.article-item:hover {
  cursor: pointer;
  background-color: gray;
}

.article-item.selected,
.article-item:hover .article-item-text:after,
.article-item.selected .article-item-text:after {
  background-color: gray;
}
