.not-found {
  background-color: #342643; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-title {
  font-size: 6em;
  font-weight: 700;
  color: #EE4B5E;
}

.not-found-subtitle {
  font-size: 40px;
  font-weight: 700;
  color: #1FA9D6;
}

.not-found-buttons {
  margin: 30px;
}

.not-found-button {
  font-weight: 700;
  border: 2px solid #EE4B5E;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: #EE4B5E;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
}

.not-found-button:hover {
  background-color: #EE4B5E;
  color: #FFF;
  transition: all 0.2s ease-in-out;
}
